name: App
on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    container: alpine:latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install deps
        run: apk add --no-cache --update clang-extra-tools

      - name: Lint code
        run: clang-format --dry-run --Werror **/*.c **/*.h

  test:
    runs-on: ubuntu-latest
    container: alpine:latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install deps
        run: apk add --no-cache --update binutils gcc make musl-dev libc-dev check-dev

      - name: Build and run tests
        run: make all test

      - name: Run app
        run: ./password-generator

  scan:
    runs-on: ubuntu-latest
    container: alpine:latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install deps
        run: apk add --no-cache --update binutils clang-analyzer gcc make musl-dev libc-dev check-dev

      - name: Scan build with clang
        run: scan-build make
